@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz@9..144&family=Montserrat:wght@100&family=Poppins:wght@300&display=swap');


header {
	height: 100px;
	padding: 0px;
	background-color: black;
   justify-content: space-between;
	}
	
	.navbar-container {
		width: 100%;
		height:80px;
		background-color: black;
	}
	
	nav {
		position: relative;
	}
	
	.logo {
		width: 50px;
		margin-top: 15px;
	}
	
	.navbar-items {
		position: absolute;
		right: 0;
		height: 80px;
		line-height: 80px;
		margin: 0;
		margin-right: 30px;
		display: inline-block;
	}
	.navbar-items li {
		display: inline-block;
		text-transform: uppercase;
		margin-left: 25px;
	}
	
	.navbar-items a {
		color: #fff;
		text-decoration: none;
		transition: 0.5s;
		font-family: poppins;
	}
nav ul li a:hover {color: rgb(154, 153, 201);}
	
#logoheader {
	border-radius: 50%;
	width: 80px;
	height: 80px;	
	
	margin: 10px;
	}
	
	#rafahublogo {
	width: 200px;
	height: 100px;	
	margin: 10px;
	
	max-width: 100%;
    height: auto;
	}
	

	.main-banner {
		background-image: url("img/0ce748e674e8c397befe811696e315b5.jpg");
		background-size: cover;
		background-position: center;
		padding: 15rem 0;
	}
	
	.tecnologias {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 20px;
	}
	
	.whitebox {
		margin: 50px;
		display: flex;
		border-radius: 20px;
		background-color: #F6F1E9;
		height: 100px;
	}

	.icons {
		display: flex;
		align-items: center;
		padding-bottom: 50px;
	}
	
	.icons img {
		margin-top: 50px;
		width: 80px;
		height: 80px;
		padding: 20px;
	}

	.icons .cssicon {
		margin-top: 60px;
		width:65px;
		height: 65px
	}

	.icons .flaskicon {
		margin-top: 60px;
		width:75px;
		height: 65px
	}

h1 {
	margin: 0 auto;
	font-family: Poppins;
	color: #ffff;
	}

	p {
		font-size: 26px;
		font-weight: bold;
		letter-spacing: normal;
		font-family: Poppins;
		color: #ffff;
		width: 900px;
	}

#imagens {
	position: flex;
}

#imagens {text-align: center;}

.foto {
	width: 275px;
	margin: 5px;
	height: 275px;
	transition: transform 0.3s ease;
	
	max-width: 100%;
    height: auto;
}

.foto:hover {transform: scale(1.2);}


main {
	background-color: rgb(154, 153, 201);
	height: 100%;
}

footer {
	text-align: center;
	margin-top: 10px;
	padding: 0px;
}

.socials:hover {transform: scale(1.2);}

.socials {
	width: 50px;
	height: 50px;	
	margin: 10px;
}

.trabalhos {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 50px;
}

.channeldesc {
	display: flex;
}

#pchanel {width: 500px;}

.shellydesc {
	display: flex;
}

#pshelly {width: 500px;}

.logobarcodesc {
	display: flex;
}

#pbarco {width: 500px;}


#chanel, #shelly, #logobarco, #hdclogo {
	border-radius: 40px;
	width: 200px;
	height: 200px;
	padding: 15px;
	display: inline;
	transition: transform 0.3s ease;
	
	max-width: 100%;
    height: auto;
}


#chanel:hover, #shelly:hover, #logobarco:hover, #hdclogo:hover {transform: scale(1.2);}


.feedbacktext {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;

}

section {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 60vh;
}

form {
	display: flex;
	flex-direction: column;
	color: #ffff;
	margin-bottom:100px;
	font-family: Arial;
}

form input, form textarea {
	outline: unset;
	padding: 20px;
	width: 200px;
	border: 1px solid;
	border-radius: 20px;
	
}

form input [type="submit"] {
	width: 500px;
}

form input:focus, form textarea:focus {
	background-color: #E0A96D;
}

form input[type = submit] {
	background-color: #121212;
	color: #ffff;
	cursor: pointer;
}

form label {
	margin-left: 10px;
	padding: 5px;
}

@media (max-width: 1100px) {
    .plans-container {
        width: 95%;
    }

    .plan {
        margin: 0 5px;
    }
}

/* tablet */
@media (max-width: 900px) {
    html, body {
        overflow-x: hidden;
    }

    .main-banner p {
        padding: 0 6rem;
    }

	p {
		font-size: 24px;
		text-align: center;
		letter-spacing: normal;
		font-family: Poppins;
		color: #ffff;
		width: 100%;
	}

	#pbarco, #pchanel, #pshelly {
		width: 90%;
		font-size: 24px;
		padding-left: 40px;
		text-align: left;
	}
}

/* mobile */
@media (max-width: 576px) {
    html, body {
        overflow-x: hidden;
    }

	header {
		height: 200px;
	}

	.navbar-items {
		display: flex;
	}

    .navbar-items li {
        font-size: 15px;
    }

	.main-banner {
		background-image: url("img/0ce748e674e8c397befe811696e315b5.jpg");
		background-size: cover;
		background-position: 48%;
		padding: 15rem 0;
	}
	
	.tecnologias {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 30px;
	}
	
	.whitebox {
		margin: 50px;
		display: flex;
		border-radius: 20px;
		background-color: #F6F1E9;
		height: 100px;
		width: 400px;
	}

	.icons {
		display: flex;
		align-items: center;
		padding-bottom: 50px;
	}
	
	.icons img {
		margin-top: 50px;
		width: 50px;
		height: 50px;
		padding: 15px;
	}

	.icons .cssicon {
		margin-top: 50px;
		width:40px;
		height: 40px
	}

	.icons .flaskicon {
		margin-top: 50px;
		width:45px;
		height: 45px
	}

	
		p {
			font-size: 18px;
			text-align: center;
			letter-spacing: normal;
			font-family: Poppins;
			color: #ffff;
			width: 100%;
		}

		.trabalhos {
			display: flex;
			flex-direction: column;
			align-items: center;
			padding-top: 20px;
		}
		
		.channeldesc {
			display: flex;
		}
		
		
		.shellydesc {
			display: flex;
		}
		
		
		.logobarcodesc {
			display: flex;
		}
		
		#pbarco, #pchanel, #pshelly {
			width: 90%;
			font-size: 15px;
			padding-left: 20px;
			text-align: left;
		}
		
		
		#chanel, #shelly, #logobarco, #hdclogo {
			border-radius: 40px;
			width: 100px;
			height: 100px;
			padding: 10px;
			display: inline;
			transition: transform 0.3s ease;
			
			max-width: 100%;
			height: auto;
		}

		h1 {font-size: 18px;}

}

/* mobile S */
@media (max-width: 320px) {
    html, body {
        overflow-x: hidden;
    }

	header {
		height: 200px;
	}

	.navbar-items {
		display: flex;
		padding: 0;
		margin: 0;
	}

    .navbar-items li {
        font-size: 14px;
		padding: 10px;
		margin: 0;
    }

	.main-banner {
		background-image: url("img/0ce748e674e8c397befe811696e315b5.jpg");
		background-size: contain;
		background-position: 48%;
		padding: 8rem 0;
	}
	
	.tecnologias {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 100px;
	}
	
	.whitebox {
		margin: 0;
		padding: 0;
		display: flex;
		border-radius: 20px;
		background-color: #F6F1E9;
		height: 300px;
		width: 250px;
	}

	.primeiro-quadrante {
		display: flex;
		padding-right: 10px;
	}

	.segundo-quadrante {
		display: flex;
		padding-left: 10px;
	}

	.quinto-quadrante {
		display: flex;
		align-self: center;
		padding-left: 45px;

	}

	.icons {
		display: flex;
		flex-direction: column;
		align-items: end;
		justify-content: center;
		padding-bottom: 5px;
		padding-left: 15px;
	}
	
	.icons .primeiro-quadrante img, .icons .segundo-quadrante img,
	.icons .quinto-quadrante img {
		margin-top: 10px;
		width: 75px;
		height: 75px;
		padding: 10px;
	}

	.icons .primeiro-quadrante .cssicon {
		margin-top: 20px;
		width:60px;
		height:60px;
	}

	.icons .flaskicon {
		margin-top: 50px;
		width:45px;
		height: 45px
	}

	
		p {
			font-size: 12px;
			text-align: center;
			letter-spacing: normal;
			font-family: Poppins;
			color: #ffff;
			width: 100%;
		}

		.trabalhos {
			display: flex;
			flex-direction: column;
			align-items: center;
			padding-top: 20px;
		}
		
		.channeldesc {
			display: flex;
		}
		
		
		.shellydesc {
			display: flex;
		}
		
		
		.logobarcodesc {
			display: flex;
		}
		
		#pbarco, #pchanel, #pshelly {
			width: 90%;
			font-size: 15px;
			padding-left: 20px;
			text-align: left;
		}
		
		
		#chanel, #shelly, #logobarco, #hdclogo {
			border-radius: 40px;
			width: 100px;
			height: 100px;
			padding: 10px;
			display: inline;
			transition: transform 0.3s ease;
			
			max-width: 100%;
			height: auto;
		}

		h1 {font-size: 18px;}

}

/* mobile M */
@media (max-width: 375px) {
    html, body {
        overflow-x: hidden;
    }

	header {
		height: 200px;
	}

	.navbar-items {
		display: flex;
		padding: 0;
		margin: 0;
	}

    .navbar-items li {
        font-size: 14px;
		padding: 19px;
		margin: 0;
    }

	.main-banner {
		background-image: url("img/0ce748e674e8c397befe811696e315b5.jpg");
		background-size: contain;
		background-position: 48%;
		padding: 8rem 0;
	}
	
	.tecnologias {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 100px;
	}
	
	.whitebox {
		margin: 0;
		padding: 0;
		display: flex;
		border-radius: 20px;
		background-color: #F6F1E9;
		height: 300px;
		width: 250px;
	}

	.primeiro-quadrante {
		display: flex;
		padding-right: 10px;
	}

	.segundo-quadrante {
		display: flex;
		padding-left: 10px;
	}

	.quinto-quadrante {
		display: flex;
		align-self: center;
		padding-left: 45px;

	}

	.icons {
		display: flex;
		flex-direction: column;
		align-items: end;
		justify-content: center;
		padding-bottom: 5px;
		padding-left: 15px;
	}
	
	.icons .primeiro-quadrante img, .icons .segundo-quadrante img,
	.icons .quinto-quadrante img {
		margin-top: 10px;
		width: 75px;
		height: 75px;
		padding: 10px;
	}

	.icons .primeiro-quadrante .cssicon {
		margin-top: 20px;
		width:60px;
		height:60px;
	}

	.icons .flaskicon {
		margin-top: 50px;
		width:45px;
		height: 45px
	}

	
		p {
			font-size: 12px;
			text-align: center;
			letter-spacing: normal;
			font-family: Poppins;
			color: #ffff;
			width: 100%;
		}

		.trabalhos {
			display: flex;
			flex-direction: column;
			align-items: center;
			padding-top: 20px;
		}
		
		.channeldesc {
			display: flex;
		}
		
		
		.shellydesc {
			display: flex;
		}
		
		
		.logobarcodesc {
			display: flex;
		}
		
		#pbarco, #pchanel, #pshelly {
			width: 90%;
			font-size: 15px;
			padding-left: 20px;
			text-align: left;
		}
		
		
		#chanel, #shelly, #logobarco, #hdclogo {
			border-radius: 40px;
			width: 100px;
			height: 100px;
			padding: 10px;
			display: inline;
			transition: transform 0.3s ease;
			
			max-width: 100%;
			height: auto;
		}

		h1 {font-size: 18px;}

}